.frame{
  position:relative;
  width: 512px;
  height: 557px;
}
.frame img{
  position:absolute;
}
.frame img#overlayLoop{
  z-index: 9;
}
.frame img#locations{
  z-index: 15;
}
.frame img#range{
  z-index: 10;
}
.frame img#topo{
  z-index: 5;
}
.frame img#legend{
  z-index: 3;
}
.frame #timestamp {
	position: absolute;
	z-index: 100;
	top: 86%;
	left: 55%;
	color: white;
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
}
